<!doctype html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
  <title>Delete Photo</title>
</head>

<body>
  <!-- navbar centered with no link/button  -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="mx-auto navbar-brand h-100 d-inline-block">Photo Gallery<sub style="font-size: small;">by Cliff
        Harris</sub></div>
  </nav>

  <div class="container mx-auto" style="background-color: #303030; padding-top: 1rem; width: fit-content; padding-bottom: 1rem;">
    <h3 class="mx-auto text-center">Delete Photo</h3>

    <form method="POST" enctype="multipart/form-data">
      <div class="row justify-content-center">
        <img src="{{ photo.image.url }}" alt="" style="max-width: 100%; min-width: 12.5rem;">
      </div>
      {% csrf_token %}
      <div class="btn-toolbar mx-auto justify-content-end my-auto" style="padding-top: 1rem;">
        <h4 class="my-auto mr-4">Are you sure you want to delete this photo?</h4>
        <input type="submit" class="btn btn-info mr-2" value="Delete">
        <a href="/" class="btn btn-secondary">Cancel</a>
      </div>
    </form>
  </div>

  <script src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>