<!doctype html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
  <title>View/Edit Image</title>
</head>

<body>
  <!-- navbar centered with no link/button  -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="mx-auto navbar-brand h-100 d-inline-block">Photo Gallery<sub style="font-size: small;">by Cliff
        Harris</sub></div>
  </nav>
  <div class="container mx-auto" style="background-color: #303030; padding-top: 1rem; width: fit-content; padding-bottom: 1rem;">
    <h1 class="mx-auto text-center">{{ photo.title }}</h1>

      <div class="row justify-content-center">
        <img src="{{ photo.image.url }}" alt="" style="max-width: 100%; min-width: 12.5rem;">
      </div>

      <div class="btn-toolbar mx-auto justify-content-end my-auto" style="padding-top: 1rem;">
        <a href="/" class="btn btn-secondary">Back to All Photos</a>
      </div>
      
  </div>    

  <script src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>